
params {
    maf_dir = "data/all_maf_flat"   // Host-relative path
    outdir  = "results"
}

docker {
    enabled = true
    runOptions = "-v ${projectDir}:/pipeline"
}

profiles {

    // Default local run
    standard {
        process.executor = 'local'
    }

    docker {
        process {
            excuter = 'local'
            container = 'tcga-maftools-blca-fixed:latest'
            }
            
    }
}


